<div class="card m-3 p-3">
  <h1>About Us for Urdu GPT</h1>

  <p>
    Welcome to UrduGPT, your gateway to seamless and natural interactions in the
    Urdu language! Our platform harnesses the incredible power of ChatGPT 3 to
    facilitate effortless conversations with the system by typing queries in
    Urdu. We understand the importance of language accessibility, and that's why
    our model has been trained to comprehend and process Urdu text effectively,
    ensuring a comfortable and engaging conversation experience for our users
    who prefer to communicate in Urdu.
  </p>
  <h2>Meet the Owner</h2>
  <p>
    UrduGPT is the brainchild of Daniyal Qureshi, a passionate entrepreneur who
    is committed to breaking language barriers and making communication more
    inclusive.
  </p>

  <h2>Contact Us</h2>
  <p>
    Have questions, feedback, or suggestions? We'd love to hear from you! Feel
    free to reach out to us via email at
    <a href="mailto:daniyalqureshi.cs@gmail.com">daniyalqureshi.cs@gmail.com</a
    >. We value your input and are always eager to improve your experience.
  </p>

  <h2>Explore UrduGPT</h2>
  <p>
    Curious to see UrduGPT in action? Visit our website at
    <a href="http://www.urdugpt.me">www.urdugpt.me</a> to start conversing with
    our Urdu language model. Discover the convenience of chatting with AI in
    your preferred language, and unlock a world of possibilities for seamless
    communication.
  </p>
</div>
